@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

/* Estilo atual para o link do menu */
.link {
	color: #b7041e;
	backgroundColor: white;
	rollOverColor: #9C9C9C;
	markerColor: #e0e0e0;
	fontSize: 11;
	fontWeight: bold;
}

.login_info {
	fontSize: 11;
	fontWeight: bold;
}


