@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace an "tv.snews.anews.component.*";
@namespace sn "tv.snews.flexlib.components.*";

@namespace flexlib_containers "flexlib.containers.*";
@namespace flexlib_controls "flexlib.controls.*";
@namespace flexlib_tabBar "flexlib.controls.tabBarClasses.*";

global {
	fontSize: 12;
	fontFamily: "Helvetica, Arial, sans-serif";
}

/*****************************************************************/
/**    ALTERACAO DOS ESTILOS PADROES DOS COMPONENTES DO FLEX    **/
/*****************************************************************/

s|Button {
	skinClass: ClassReference("tv.snews.anews.skin.button.ButtonSkin");
}

s|ButtonBar {
	skinClass: ClassReference("tv.snews.anews.skin.button.ButtonBarSkin");
}

s|CheckBox {
    skinClass: ClassReference("tv.snews.anews.skin.CheckBoxSkin");
    themeColor: #FFFFFF;
}

s|RadioButton {
    themeColor: #FFFFFF;
}

s|DropDownList {
	skinClass: ClassReference("tv.snews.anews.skin.combo.DropDownListSkin");
	borderColor: #A7A9AC;
    contentBackgroundColor: #FFFFFF;
}

s|ComboBox {
	skinClass: ClassReference("tv.snews.anews.skin.combo.ComboBoxSkin");
    contentBackgroundColor: #FFFFFF;
}

s|TextInput {
	borderColor: #A7A9AC;
    contentBackgroundColor: #FFFFFF;
}

s|NumericStepper {
	borderColor: #A7A9AC;
	skinClass: ClassReference("tv.snews.anews.skin.stepper.NumericStepperSkin");
    contentBackgroundColor: #FFFFFF;
}

s|TextArea {
	borderColor: #A7A9AC;
    contentBackgroundColor: #FFFFFF;
}

s|DataGrid {
	skinClass: ClassReference("tv.snews.anews.skin.datagrid.HeaderSkin");
	borderColor: #A7A9AC;
	rollOverColor: #CCCCCC;
	alternatingRowColors: '[#FFFFFF, #F1F2F2]';
	selectionColor: #E2E2E2;
	caretColor: #E2E2E2;
}

an|SpellTextArea {
	skinClass: ClassReference("tv.snews.anews.skin.SpellTextAreaSkin");
    contentBackgroundColor: #FFFFFF;
}

an|SpellTextInput {
    contentBackgroundColor: #FFFFFF;
}

mx|DateField {
    contentBackgroundColor: #FFFFFF;
}

sn|PagedDataGrid {
	borderColor: #A7A9AC;
	rollOverColor: #CCCCCC;
	alternatingRowColors: '[#FFFFFF, #F1F2F2]';
	selectionColor: #E2E2E2;
	caretColor: #E2E2E2;
}

s|List {
	borderColor: #A7A9AC;
	rollOverColor: #CCCCCC;
	alternatingRowColors: '[#FFFFFF, #F1F2F2]';
	selectionColor: #E2E2E2;
	caretColor: #E2E2E2;
}

s|Scroller {
	skinClass: ClassReference("tv.snews.anews.skin.scroller.ScrollerSkin");
}

s|ToggleButton {
	skinClass: ClassReference("tv.snews.anews.skin.button.Toggle");
	color: white;
	fontSize: 13;
}

mx|PopUpButton {
	fontSize: 11;
	fontWeight: bold;
	skin: ClassReference("tv.snews.anews.skin.button.PopUpButtonSkin");
}

mx|ToolTip {
	color: black;
	backgroundColor: white;
	fontSize: 12;
	paddingBottom: 0;
	borderColor: black;
	borderStyle: "solid";
}

mx|TabNavigator {
	tabStyleName: "tabs";
	paddingTop: 0;
	paddingBottom: 0;
	borderStyle:solid;
	borderColor:#B3B3B3;
}

s|Panel #titleDisplay {
	textAlign: center;
}

.tabs {
	skin: ClassReference("tv.snews.anews.skin.tab.TabSkin");
}

/**********************************************************/
/**    ESTILOS PARA OS COMPONENTES DO PROJETO FLEXLIB    **/
/**********************************************************/

flexlib_containers|SuperTabNavigator {
	paddingTop: 0;
	borderColor: #B3B3B3;
	
	borderSkin: ClassReference("tv.snews.anews.skin.tab.BorderSkin");
	buttonWidth: 27;
	
	popupButtonStyleName: "popupButton";
	leftButtonStyleName: "leftButton";
	rightButtonStyleName: "rightButton";
}
.popupButton {
	upSkin: ClassReference("tv.snews.anews.skin.tab.PopUpButtonSkin");
	popUpDownSkin: ClassReference("tv.snews.anews.skin.tab.PopUpButtonSkin");
	popUpOverSkin: ClassReference("tv.snews.anews.skin.tab.PopUpButtonSkin");
	disabledSkin: ClassReference("tv.snews.anews.skin.tab.PopUpButtonSkin");
}
.leftButton {
	skin: ClassReference("tv.snews.anews.skin.tab.ButtonSkin");
}
.rightButton {
	skin: ClassReference("tv.snews.anews.skin.tab.ButtonSkin");
}

flexlib_tabBar|SuperTab {
	color: #696969;
	fontWeight: bold;
	
	paddingTop: 4;
	paddingBottom: 4;
	paddingLeft: 10;
	paddingRight: 10;
	
	tabCloseButtonStyleName: "tabCloseButtonStyle";
	skin: ClassReference("tv.snews.anews.skin.tab.TabSkin");
}
.tabCloseButtonStyle {
	skin: ClassReference("tv.snews.anews.skin.tab.TabCloseButtonSkin");
}

flexlib_controls|ScrollableArrowMenu {
	upButtonStyleName: "upButton";
	downButtonStyleName: "downButton";
}
.upButton {
	skin: ClassReference("tv.snews.anews.skin.tab.ButtonSkin");
}
.downButton {
	skin: ClassReference("tv.snews.anews.skin.tab.ButtonSkin");
}

/********************************************/
/**    ESTILOS PADROZINADOS DO DESIGNER    **/
/********************************************/

/* Estilo para os labels dos formularios */
.formLabel {
	color: #6d6e71;
	fontSize: 13;
	fontWeight: bold;
}

/* Estilo para labels de titulo */
.title {
	fontSize: 17;
	fontWeight: bold;
}

.newsHour 	{ 
	color: #FF0000; 
	fontSize: 10;
	fontWeight: bold;
}

.newsDate	{ 
	color: #A7A9AC; 
	fontSize: 10; 
	fontWeight: bold;
}	

.linkButton{
	fontWeight: normal;
	text-decoration:none;
}

.linkButtonHover{
	fontWeight: normal;
	text-decoration:underline;
	skin: ClassReference(null);
}

s|Button.delete {
	skinClass: ClassReference("tv.snews.anews.skin.button.DeleteSkin");
}

s|Button.add {
    skinClass: ClassReference("tv.snews.anews.skin.button.AddSkin");
}

s|DataGrid.hideHeaders {
	skinClass: ClassReference("tv.snews.anews.skin.datagrid.HeaderlessSkin");
}

s|ComboBox.leftArrow {
	skinClass: ClassReference("tv.snews.anews.skin.combo.LeftSkin");
	borderVisible:false;
	requireSelection: true;
	focusAlpha:0;
}

/* Estilo usado no DateField > PendingGuidelines.mxml */
.pendingDate {
	textInputStyleName: textInputStyle;
	verticalAlign: middle;
}
/* Estilo usado no DateField > PendingGuidelines.mxml */
.textInputStyle {
	borderVisible: false;
	contentBackgroundAlpha: 0;
	fontSize: 17;
	fontWeight: bold;
	verticalAlign: middle;
}

/* EMBEDED FONTS */

@font-face {
	src:url("/assets/Lato-Black.ttf");
	fontFamily: latoBlackFamily;
	embed-as-cff: true;
}

@font-face {
	src:url("/assets/Lato-Bold.ttf");
	fontFamily: latoBoldFamily;
	embed-as-cff: true;
}

@font-face {
	src:url("/assets/Lato-Light.ttf");
	fontFamily: latoLightFamily;
	embed-as-cff: true;
}

@font-face {
	src:url("/assets/Roboto-Regular-webfont.ttf");
	fontFamily: Roboto;
	embed-as-cff: true;
}


/*
	Fonte de Ícones

	http://fortawesome.github.io/Font-Awesome/
*/
@font-face {
	fontFamily: FontAwesome;
	fontStyle: normal;
	src: url("/assets/fontawesome-webfont.ttf");
	embed-as-cff: true;
}
